$primary: #00c920;
$danger: red;
$gray:#a0a0a0;

.company-list-container {
  margin-top: 50px;
  .company-card {
    margin: 20px 5px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    border: none;
    transition: 0.4s;
    .company-card-body {
      display: flex;
      justify-content: space-between;
      .company-name-block {
        h4 {
          text-align: left;
          font-size: 18px;
          font-weight: 600;
          margin: 0px;
        }
      }
    }
  }
  .company-card:hover {
    transform: scale(0.95, 0.95);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 6px 0px;
    background-color: #f4f4f4;
  }
  p {
    margin-top: 50px;
    text-align: center;
    color: $gray;
  }
}

.company-detail-container {
  min-height: 100vh;
  .company-detail-card {
    margin: auto;
    margin-top: 50px;
    width: 800px;
    max-width: calc(100% - 20px);
    border-radius: 10px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .card-header {
      background-color: transparent;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      .company-detail-name {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
      }
    }
    .card-body {
      padding: 10px 20px 20px;
      .company-detail-body {
        .company-detail-row {
          .company-detail-column {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: left;
            span {
              font-size: 16px;
              font-weight: 600;
              margin-right: 15px;
            }
            span:first-child {
              color: $gray;
              font-weight: 400;
            }
            .change-price-block {
              font-size: 13px;
              font-weight: 600;
              span {
                color: $primary !important;
              }
            }
            .change-price-block.down-price {
              span {
                color: $danger !important;
              }
            }
          }
        }
      }
    }
  }
}

.company-info-block {
  .company-stock-price {
    font-size: 20px;
    font-weight: 700;
    color: $primary;
    line-height: 24px;
  }
  .change-price-block {
    font-size: 13px;
    font-weight: 600;
    color: $primary;
  }
  .change-price-block.down-price {
    color: $danger;
  }
}
